h1 {
  text-align: center;
}

h2 {
  text-transform: uppercase;
  color: gray;
  text-align: center;
}

.parent {
  border: 5px solid lightcoral;
}

.item {
  height: 50px;
  margin: 5px;
  background: DeepSkyBlue;
  color: white;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
}

/* Flex Stuff */
.parent {
  height: 200px;
  display: flex;
}

.item {
  width: 150px;
}

.item:nth-child(2) {
  align-self: stretch;
  height: auto;
}